<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.ProcessingPlantMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.domain.ProcessingPlant">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="legalPerson" column="legal_person" jdbcType="VARCHAR"/>
            <result property="personNumber" column="person_number" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,version,name,
        address,create_time,status,
        legal_person,person_number
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from processing_plant
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <select id="selectProcessingPlantList" resultMap="BaseResultMap">
        select * from processing_plant
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from processing_plant
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.domain.ProcessingPlant" useGeneratedKeys="true">
        insert into processing_plant
        ( id,version,name
        ,address,create_time,status
        ,legal_person,person_number)
        values (#{id,jdbcType=INTEGER},#{version,jdbcType=INTEGER},#{name,jdbcType=VARCHAR}
        ,#{address,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{status,jdbcType=INTEGER}
        ,#{legalPerson,jdbcType=VARCHAR},#{personNumber,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.domain.ProcessingPlant" useGeneratedKeys="true">
        insert into processing_plant
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="version != null">version,</if>
                <if test="name != null">name,</if>
                <if test="address != null">address,</if>
                <if test="createTime != null">createTime,</if>
                <if test="status != null">status,</if>
                <if test="legalPerson != null">legalPerson,</if>
                <if test="personNumber != null">personNumber,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">id = #{id,jdbcType=INTEGER},</if>
                <if test="version != null">version = #{version,jdbcType=INTEGER},</if>
                <if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
                <if test="address != null">address = #{address,jdbcType=VARCHAR},</if>
                <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
                <if test="status != null">status = #{status,jdbcType=INTEGER},</if>
                <if test="legalPerson != null">legal_person = #{legalPerson,jdbcType=VARCHAR},</if>
                <if test="personNumber != null">person_number = #{personNumber,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.domain.ProcessingPlant">
        update processing_plant
        <set>
                <if test="version != null">
                    version = #{version,jdbcType=INTEGER},
                </if>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="address != null">
                    address = #{address,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=INTEGER},
                </if>
                <if test="legalPerson != null">
                    legal_person = #{legalPerson,jdbcType=VARCHAR},
                </if>
                <if test="personNumber != null">
                    person_number = #{personNumber,jdbcType=INTEGER},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ruoyi.domain.ProcessingPlant">
        update processing_plant
        set 
            version =  #{version,jdbcType=INTEGER},
            name =  #{name,jdbcType=VARCHAR},
            address =  #{address,jdbcType=VARCHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            status =  #{status,jdbcType=INTEGER},
            legal_person =  #{legalPerson,jdbcType=VARCHAR},
            person_number =  #{personNumber,jdbcType=INTEGER}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
